* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* ul {
    list-style: none;
    text-decoration: none;
}
* button {
    cursor: pointer;
}
/* Start Style */
#robert {
    height: 100vh;
    background-color: #ffb321;
    padding: 40px 0 40px 0;
}
#robert .container {
    width: 95%;
    margin: auto;
    background-color: #f6efe5;
    height: calc(100vh - 80px);
    border-radius: 20px;
    padding: 10px;
}
#robert .container .container-fluid{
    width: 91%;
    margin: auto;
}
/* Start Navbar */
#robert .container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
#robert .container .navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}
#robert .container .navbar .logo img {
    width: 100%;
}
#robert .container .navbar .links ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
#robert .container .navbar .links ul li {
    margin: 20px;
    font-size: 22px;
    cursor: pointer;
    position: relative;

}
#robert .container .navbar .links ul li.active {
    color: #ba7901;
}
#robert .container .navbar .links ul li:hover{
    color: #ba7901;
}
#robert .container .navbar .links ul li::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: #ffb321;
    transition: all 0.5s;
}
#robert .container .navbar .links ul li:hover::before{
    width: 100%;
}
#robert .container .navbar .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
#robert .container .navbar .btn button {
    border: 1px solid #000;
    background-color: transparent;
    padding: 15px 20px;
    border-radius: 25px;
    margin-right: 15px;
    transition: all 0.3s;
}
#robert .container .navbar .btn button:hover{
    color: #fff;
    background-color: #000;

}
/* Start Toggle-menu */
#robert .container .navbar .toggle-menu {
    display: none;
    position: relative;
    cursor: pointer;
}
#robert .container .navbar .toggle-menu i {
    font-size: 23px;
}
#robert .container .navbar .toggle-menu .list {
    display: none;
    position: absolute;
    right: -5px;
    top: 40px;
    background-color: #ffb321;
    padding: 10px;
    color: #fff;
    z-index: 99999;
    width: 150px;
}
#robert .container .navbar .toggle-menu .list::before {
    content: "";
    position: absolute;
    top: -29px;
    right: 0px;
    width: 0px;
    height: 0px;
    border-bottom: 15px solid #ffb321;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
#robert .container .navbar .toggle-menu .list ul li {
    position: relative;
    margin: 5px 0;
    padding-top: 5px;
    transition: all 0.5s;
}
#robert .container .navbar .toggle-menu .list ul li:hover {
    margin-left: 10px;
}
#robert .container .navbar .toggle-menu .list ul li::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #fff;
    transition: all 0.5s;
}
#robert .container .navbar .toggle-menu .list ul li:hover::before {
    width: 100%;
}
#robert .container .navbar .toggle-menu:hover .list {
    display: block;
}

/* End Navbar */
/* Start Home */
.home {
    position: relative;
}
.home .content {
    position: absolute;
    top: 120px;
    left: 0;
    width: 400px;
}
.home .content h1 {
    font-size: 50px;
    line-height: 1.3;
    margin-bottom: 30px;
}
.home .content p {
    line-height: 1.2;
    margin-bottom: 30px;
}
.home .content .btn_1{
    display: flex;
    align-items: center;
    margin: 40px 0;
}
.home .content .btn_1 button {
    border: 1px solid #000;
    background-color: #000;
    padding: 15px 25px;
    border-radius: 25px;
    color: #fff;
    margin-right: 20px;
}

.home .content .btn_1 .icon_1 {
    width: 50px;
    height: 50px;
    background-color: #ffb321;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ffb321;
    cursor: pointer;
    color: #fff;
}
.home .content .scroll {
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.home .content .scroll .icon_2 {
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin: 0 15px ;
    border-radius: 50%;
    cursor: pointer;
}
.home .content .scroll .icon_2:hover {
    background-color: #000;
    color: #fff;
}
/* Start style image */
#robert .container .image {
    position: relative;
}
#robert .container .image img {
    position: absolute;
    top: 50px;
    left: 46%;
    width: 400px;
}
/* Start Style text */
#robert .container .experience {
    position: relative;
}
#robert .container .experience .rate {
    position: absolute;
    top: 130px;
    right: 20px;
    align-items: end;
}
#robert .container .experience .rate .text {
    padding: 20px 0;
    margin: 20px 0 ;
}
#robert .container .experience .rate .text .num {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
#robert .container .experience .rate .text .parg {
    color: #000000b7;
}
/* Start Media query */
@media (max-width: 1200px){
    #robert .container .navbar .links {
        display: none;
    }
    #robert .container .navbar .toggle-menu {
        display: block;
    }
    #robert .container .image img {
        position: relative;
        top: 10px;
        left: 48%;
        width: 350px;
    }
    .home .content {
        top: 60px;
    }
    .home .content h1 {
        font-size: 30px;
    }
    .home .content p {
        width: 300px;
    }
    #robert .container .experience .rate {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50px;
        right: 20px;
        left: 20px;
    }
    #robert .container .experience .rate .text {
        text-align: center;
        padding: 10px;
    }
}
@media (max-width: 767px){
    #robert {
        padding: 20px 0;
    }
    #robert .container {
        height: calc(100vh - 40px);
    }
    #robert .container .image img {
        position: relative;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
    }
    .home .content {
        top: 330px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .home .content h1 {
        line-height: 1;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .home .content p {
        margin-bottom: 10px;
        color: #000000c1;
        width: fit-content;
    }
    .home .content .btn_1 {
        margin: 10px 0;
        text-align: center;
        justify-content: center;
    }
    .home .content .scroll {
        display: none;
    }
    #robert .container .experience .rate {
        top: 200px;
    }
}
@media(max-width: 576px){
    #robert {
        padding: 0;
    }
    #robert .container {
        width: 100%;
        border-radius: 0;
        height: 100vh;
    }
    #robert .container .image img {
        top: 20px;
    }
    .home .content {
        top: 360px;
        width: 300px;
    }
    .home .content p {
        margin-bottom:  20px;
    }
    .home .content .btn_1 {
        margin: 15px 0;
    }
    #robert .container .experience .rate {
        margin-top: 30px;
        top: 220px;
    }
    #robert .container .navbar .logo {
        margin-left: 15px;
    }
    #robert .container .navbar .logo img {
        margin-right: 10px;
    }
}